{{#link-to 'programs' class="btn btn-default"}}Back{{/link-to}}
<button class="btn btn-danger right" {{action "deleteProgram"}}>Delete {{program.title}}</button>
{{#link-to 'new-cohort' program class="btn btn-success"}}Add Cohort{{/link-to}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Instance Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Market</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each program.cohorts as |cohort|}}
      {{program-list/cohorts cohort=cohort}}
    {{/each}}
  </tbody>
</table>
