  <td>{{cohort.title}}</td>
  <td>{{cohort.start_date}}</td>
  <td>{{cohort.end_date}}</td>
  <td>{{cohort.market}}</td>
  <td>{{#link-to 'cohort' cohort class="btn btn-info"}}Enrollees{{/link-to}}</td>
