{{hamburger-menu}}
{{#if isAdmin}}
  {{#link-to "profile" profile class="navbar-brand"}}
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  {{/link-to}}
{{else}}
  {{#link-to "profile" profile class="navbar-brand"}}
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  {{/link-to}}
{{/if}}
